:root{
  --color-background:radial-gradient(circle at top, #1F3757, #131537);
  --position-game: absolute;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
margin: 0;
  font-family: sans-serif;
  background: var(--color-background);
  background-size:cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  color: aliceblue;
}

.home-title{
  margin-top: 100px;
  margin-bottom: 200px;
}
.game-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu{
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.game-options{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}

.mode-icon{
  width: 300px;
  height: 300px;
}

.footer{
  position: absolute;
  bottom: 100px;
  display: flex;
  flex-direction: row;
  gap: 300px;
}
.button{
  background: transparent;
  color: aliceblue;
  border: solid white;
  border-radius: 10px;
  width: 150px;
  height: 30px;
  cursor: pointer;
  margin-top: 30px;
}

/* simple game */

/* score */

.header{
  font-size: 28px;
  display: flex;
  flex-direction: row;
  gap: 80px;
  border: solid 2px white;
  padding: 40px 100px 40px 100px;
  border-radius: 10px;
  align-items: center;
  margin-top: 100px;
}
.score{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: lighter;
  justify-content: center;
  background-color: white;
  color: #101358;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  width: 120px;
  height:110px;
}

.points{
  font-size: 50px;
  color: #797979;
}



.game-name{
  width: 70px;
  align-items: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

/* jugada */

.items-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 340px;
height: 540px;
margin: 0;
background-image: url(../assets/bg-triangle.svg);
background-position: center;
background-size: 100%;
background-repeat: no-repeat;
}

.game{
  position: relative;
  width: 340px;
  height: 540px;
  margin: 0;
}

.game-item{
  background-color: white;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  align-content: center;
  justify-items: center;
  cursor: pointer;
}

.game-icon{
  pointer-events: none;
}

.rock {
  position: absolute;
  left: 270px;
  top: 80px;
  border: solid 10px rgb(18, 187, 18);
  
}

.rock:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 0 20px 10px rgba(18, 187, 18, 0.6);
}


.paper{
  position: absolute;
  left:120px;
  top:340px;
  border: solid 10px rgb(204, 19, 204);
}
.paper:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 0 20px 10px rgba(204, 19, 204, 0.6);
}


.scissors{
  position: absolute;
  left: -10px;
  top:80px;
  border: solid 10px rgb(255, 174, 22);
}
.scissors:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 0 20px 10px rgba(255, 174, 22, 0.6);
}


.results{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px white;
  border-radius: 10px;
  padding: 20px 80px 40px 80px;
  width: 500px;
  margin-top: 100px;

}
.hide{
  display: none;
}

.result-title{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.result-subtitle{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: none;
  color: #131537;
  padding: 10px 20px 10px 20px;
}

.results-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
}

.picked-result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  width: 120px;
  gap: 20px;
}

.paper-result{
  border: solid 10px rgb(204, 19, 204);
  background-image: url(../assets/icon-paper.svg);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.scissors-result{
  border: solid 10px rgb(255, 174, 22);
  background-image: url(../assets/icon-scissors.svg);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}
.rock-result{
  border: solid 10px rgb(18, 187, 18);
  background-image: url(../assets/icon-rock.svg);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.pc-paper-result{
  border: solid 10px rgb(204, 19, 204);
  background-image: url(../assets/icon-paper.svg);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.pc-scissors-result{
  border: solid 10px rgb(255, 174, 22);
  background-image: url(../assets/icon-scissors.svg);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.pc-rock-result{
  border: solid 10px rgb(18, 187, 18);
  background-image: url(../assets/icon-rock.svg);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}




